<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/base.css') }}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/bootstrap.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-header">Register</div>
        <div class="card-body">
          <form action="" id="registerForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" required />
              </div>
              <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" required />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="firstname"> First Name </label>
                <input type="text" class="form-control" name="firstname" id="firstname" required />
              </div>
              <div class="form-group col-md-6">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" name="lastname" id="lastname" required />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="role">Role</label>
                <input type="text" class="form-control" name="role" required />
              </div>
              <div class="form-group col-md-6">
                <label for="phoneNumber">Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  name="phone_number"
                  id="phoneNumber"
                  autocomplete="phone_number"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                autocomplete="new-password"
                required
              />
            </div>
            <div class="form-group">
              <label for="verifyPassword">Verify Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="verifyPassword"
                autocomplete="new-password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
        <div class="card-footer text-muted">
          <a href="/auth/login-page">Already have an account?</a>
        </div>
      </div>
    </div>
  </body>
</html>
